Docker/node-red/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Links",
        "info": "Functions:\n1. https://stevesnoderedguide.com/node-red-functions#:~:text=The%20function%20node%20is%20used,have%20a%20payload%20property%20(msg.\n2. https://nodered.org/docs/user-guide/writing-functions",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "92a859694cc1db1a",
        "type": "pi-gpiod out",
        "z": "f6f2187d.f17ca8",
        "name": "LED",
        "host": "172.28.0.1",
        "port": "8888",
        "pin": "21",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "aab621fa420fe2ef",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "func": "\nlet toggle = context.get('toggle') || 0;\n\ncontext.set(\"toggle\", !toggle);\n\nmsg.payload = !toggle;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "92a859694cc1db1a"
            ]
        ]
    },
    {
        "id": "b83b28f1b6461f32",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "aab621fa420fe2ef"
            ]
        ]
    },
    {
        "id": "071f897460c86381",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "b10b49ac048018bd",
        "type": "pi-gpiod in",
        "z": "f6f2187d.f17ca8",
        "name": "Input P38",
        "host": "172.28.0.1",
        "port": 8888,
        "pin": "20",
        "intype": "PUD_DOWN",
        "debounce": "100",
        "read": false,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "071f897460c86381"
            ]
        ]
    }
]