Docker/node-red/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "664f6501d56f25d2",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.30.0.1:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Links",
        "info": "Functions:\n1. https://stevesnoderedguide.com/node-red-functions#:~:text=The%20function%20node%20is%20used,have%20a%20payload%20property%20(msg.\n2. https://nodered.org/docs/user-guide/writing-functions",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "92a859694cc1db1a",
        "type": "pi-gpiod out",
        "z": "f6f2187d.f17ca8",
        "name": "LED",
        "host": "172.30.0.1",
        "port": "8888",
        "pin": "21",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "aab621fa420fe2ef",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "func": "\nlet toggle = context.get('toggle') || 0;\n\ncontext.set(\"toggle\", !toggle);\n\nmsg.payload = !toggle;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "92a859694cc1db1a"
            ]
        ]
    },
    {
        "id": "b83b28f1b6461f32",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "aab621fa420fe2ef"
            ]
        ]
    },
    {
        "id": "071f897460c86381",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "b10b49ac048018bd",
        "type": "pi-gpiod in",
        "z": "f6f2187d.f17ca8",
        "name": "Input P38",
        "host": "172.30.0.1",
        "port": 8888,
        "pin": "20",
        "intype": "PUD_OFF",
        "debounce": "100",
        "read": false,
        "x": 80,
        "y": 320,
        "wires": [
            [
                "3f7c1a25b716e9c1"
            ]
        ]
    },
    {
        "id": "3f7c1a25b716e9c1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Pulse Counter",
        "func": "let pulseCounter = flow.get(\"pulseCounter\") || 0;\n\n// Only when pulse is set to 1 count.\nif(msg.payload == 1){\n    pulseCounter = pulseCounter + 1;\n    flow.set(\"pulseCounter\", pulseCounter);   \n    msg.payload = pulseCounter;\n    return msg;\n}\n\nreturn null;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "d9189ce081a17725",
                "69886e26dadbe679"
            ]
        ]
    },
    {
        "id": "14e42e59bb7fd722",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "664f6501d56f25d2",
        "name": "Influxdb",
        "measurement": "flow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "SET",
        "bucket": "rpi-sensors",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9189ce081a17725",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Volumen - m3",
        "func": "msg.payload = msg.payload*flow.get(\"kVolumen\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"kVolumen\", 0.2);",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "071f897460c86381"
            ]
        ]
    },
    {
        "id": "69886e26dadbe679",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Caudal - m3/hr",
        "func": "let caudal = msg.payload*flow.get(\"kCaudal\");\n\nmsg.payload = [{\n    m3hr: caudal\n},\n{\n    sensor_name:\"Caudal manifold\"\n    \n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"kCaudal\", 0.2);",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "14e42e59bb7fd722"
            ]
        ]
    }
]