Docker/node-red/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d9a37cb13fb749b8",
        "type": "tab",
        "label": "Relays Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "178bc6ee.e87439",
        "type": "soap-config",
        "z": "f6f2187d.f17ca8",
        "wsdl": "http://www.webservicex.net/globalweather.asmx?WSDL",
        "auth": "0",
        "user": "",
        "pass": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "1d0b9627.18e18a",
        "type": "soap-config",
        "z": "f6f2187d.f17ca8",
        "wsdl": "https://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl",
        "auth": "0",
        "user": "",
        "pass": "",
        "key": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "9b0f6def921530a2",
        "type": "soap-config",
        "wsdl": "https://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl",
        "auth": "0",
        "user": "",
        "pass": "",
        "key": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "e763d99e6b688f54",
        "type": "soap-config",
        "wsdl": "http://www.dneonline.com/calculator.asmx?wsdl",
        "auth": "0",
        "user": "",
        "pass": "",
        "key": "",
        "cert": "",
        "token": ""
    },
    {
        "id": "664f6501d56f25d2",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.30.0.1:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "3bd665b02c1f95c5",
        "type": "socketio-config",
        "host": "http://172.30.0.1",
        "port": "5000",
        "reconnection": true
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Links",
        "info": "Functions:\n1. https://stevesnoderedguide.com/node-red-functions#:~:text=The%20function%20node%20is%20used,have%20a%20payload%20property%20(msg.\n2. https://nodered.org/docs/user-guide/writing-functions",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "aab621fa420fe2ef",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Toggler",
        "func": "\nlet toggle = context.get('toggle') || 0;\n\ncontext.set(\"toggle\", !toggle);\n\nmsg.payload = !toggle;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "92a859694cc1db1a"
            ]
        ]
    },
    {
        "id": "b83b28f1b6461f32",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "aab621fa420fe2ef"
            ]
        ]
    },
    {
        "id": "071f897460c86381",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "59ef1bf3df7e6da1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Flowmeter - m3/hr",
        "func": "// Only if pulse is positive continue.\nif(msg.payload == 0) return null;\n\nconst kVolume = 0.002;                          // Volume constant for each pulse [m3/pulse].\nlet actualTime = new Date();                    // Get actual date.\nlet arrTime = flow.get(\"arrTime\") || [];        // Array to store each pulse date.\nlet counter = flow.get(\"counter\", \"file\") || 0; // Count how many pulse there have been.\nlet avgFlow = null;\n\ncounter = counter + 1;\nflow.set(\"counter\", counter, \"file\");           // Store counter locally in file system.\n\n// Set actual time at the begining of array.\narrTime.unshift(actualTime);\n\n// Do not continue if it has less than 2 elements.\nif(arrTime.length == 1){\n    // Store time array.\n    flow.set(\"arrTime\", arrTime);\n    // Not enough data.\n    return null;\n}\n\n// It will keep array length in 10.\nif(arrTime.length > 10) arrTime.pop();\n\n// Store time array.\nflow.set(\"arrTime\", arrTime);\n\n// Get average flow.\n// Average flow = N° of pulses * K [m3/pulse] / Time[]\nlet msPerSecond = 1000;     // How many miliseconds per seconds.\nvolume = kVolume*counter;\navgFlow = 3600*msPerSecond*(arrTime.length - 1)*kVolume/(arrTime[0] - arrTime[arrTime.length - 1]);\n\nmsg.payload = [\n    [{\"m3\": volume},\n    {\"sensor_name\": \"Volumen bombeado\"}],\n    [{\"m3/hr\": avgFlow},\n    {\"sensor_name\": \"Caudal manifold\"}],\n];\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "071f897460c86381",
                "14e42e59bb7fd722",
                "99a773907df63ea7"
            ]
        ]
    },
    {
        "id": "9e0e25759742e5e9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "eb18b9c45bf5059b"
            ]
        ]
    },
    {
        "id": "2260a9e3b1ca0715",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "eb18b9c45bf5059b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var newmsg={\n  server:\"https://graphical.weather.gov/xml/DWMLgen/wsdl/ndfdXML.wsdl\",\n  options:{},\n  headers:{},\n  payload:{\n      zipCodeList:\"75001\"\n  }\n  \n};\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "b956486a93ef56b8"
            ]
        ]
    },
    {
        "id": "4b5c0df93cf83947",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "0a29abf187a7e08c"
            ]
        ]
    },
    {
        "id": "ada92d4d479c4a1c",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "1256632af093cee6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "79cd5c104efe0581"
            ]
        ]
    },
    {
        "id": "f09876aeeca69d70",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "e9d4294f96c86070",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "99a773907df63ea7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "ArgSOAP",
        "func": "// Get data from sensor and send data to SOAP server each x interval of time.\n\nlet A = 0;\nlet B = 0;\n\nlet actualTime = new Date();\nlet prevTime = context.get(\"prevTime\");        // Array to store each pulse date.\n\n// Send informatio if x amount of time has passed.\nif((actualTime - prevTime)/1000 >= 5){\n    if(msg.payload.length >= 2){\n        A = Math.round(msg.payload[0][0][\"m3\"]);\n        B = Math.round(msg.payload[1][0][\"m3/hr\"]);\n    }\n    \n    let newmsg={\n        server:\"http://www.dneonline.com/calculator.asmx?wsdl\",\n        options:{},\n        headers:{},\n        payload:{ intA: A, intB: B}\n    };\n    \n    context.set(\"prevTime\", actualTime);\n\n    return newmsg;    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"prevTime\", new Date());",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "3fc4bb1ee47fecf3"
            ]
        ]
    },
    {
        "id": "b10b49ac048018bd",
        "type": "pi-gpiod in",
        "z": "f6f2187d.f17ca8",
        "name": "Input P38",
        "host": "172.30.0.1",
        "port": 8888,
        "pin": "20",
        "intype": "PUD_OFF",
        "debounce": "100",
        "read": false,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "59ef1bf3df7e6da1"
            ]
        ]
    },
    {
        "id": "92a859694cc1db1a",
        "type": "pi-gpiod out",
        "z": "f6f2187d.f17ca8",
        "name": "LED",
        "host": "172.30.0.1",
        "port": "8888",
        "pin": "21",
        "set": "",
        "level": "0",
        "out": "out",
        "sermin": "1000",
        "sermax": "2000",
        "freq": "800",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "b956486a93ef56b8",
        "type": "soap request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "wsdl": "9b0f6def921530a2",
        "method": "LatLonListZipCode",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "2260a9e3b1ca0715"
            ]
        ]
    },
    {
        "id": "3fc4bb1ee47fecf3",
        "type": "soap request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "wsdl": "e763d99e6b688f54",
        "method": "Add",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "e9d4294f96c86070"
            ]
        ]
    },
    {
        "id": "14e42e59bb7fd722",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "664f6501d56f25d2",
        "name": "Influxdb",
        "measurement": "flow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "SET",
        "bucket": "rpi-sensors",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "0a29abf187a7e08c",
        "type": "influxdb in",
        "z": "f6f2187d.f17ca8",
        "influxdb": "664f6501d56f25d2",
        "name": "QueryVolume",
        "query": "from(bucket: \"rpi-sensors\")\n    |> range(start: -15d)\n    |> filter(fn: (r) => r[\"sensor_name\"] == \"Temperatura estacion\" or\n                         r[\"sensor_name\"] == \"Caudal manifold\" or\n                         r[\"sensor_name\"] == \"Volumen\")\n    |> last()\n    |> drop(columns:[\"_start\", \"_stop\", \"host\"])",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "SET",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "ada92d4d479c4a1c"
            ]
        ]
    },
    {
        "id": "79cd5c104efe0581",
        "type": "influxdb in",
        "z": "f6f2187d.f17ca8",
        "influxdb": "664f6501d56f25d2",
        "name": "",
        "query": "from(bucket: \"rpi-sensors\")\n    |> range(start: -7d)\n    |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "SET",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "f09876aeeca69d70"
            ]
        ]
    },
    {
        "id": "c66f0abde8f9afbf",
        "type": "debug",
        "z": "d9a37cb13fb749b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "53dcca35b9c5fb82",
        "type": "socketio-connector",
        "z": "d9a37cb13fb749b8",
        "server": "3bd665b02c1f95c5",
        "namespace": "",
        "name": "ConnectionSocketIO",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "31bd83320157e585"
            ]
        ]
    },
    {
        "id": "31bd83320157e585",
        "type": "socketio-listener",
        "z": "d9a37cb13fb749b8",
        "eventname": "updateClients",
        "name": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "c66f0abde8f9afbf"
            ]
        ]
    }
]
